body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* custom */

li.green {
  color: green;
  cursor: pointer;
}

li.orange {
  color: orange;
  cursor: pointer;
}

li.blue {
  color: blue;
  cursor: pointer;
}

li.grey {
  color: grey;
  cursor: pointer;
}

form.databaseForm {
  padding: 0 5rem;
}

label {
  margin-left: 1rem;
}

label[id^="mui-"] {
  margin-left: 0;
}
